.p {
    height:600px;
    padding-top: 100px;
}
.p-right {
    float: left;
    padding-left: 250px;
} 
.p-right img{
    height:600px;
    width: 500px;
    border-radius: 30px;
}
.p-left {
    padding-top: 50px;
}
.p-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} 
.p-name{
    padding-left: 50px;
    color: rgb(245, 168, 25);
    font-size: 21px;
}
.p-title1{
    padding-left: 50px;
    font-size: 60px;
    font-weight: bold;
}
.p-title2{
    padding-left: 50px;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 15px;
}
.p-para1 {
    padding-left: 50px;
    font-size: 18px;
}
.p-body {
    padding-top: 40px;
}
.p-card {
    float: left;
    height: 170px;
    width: 150px;
    background-color: rgb(45, 44, 44);
    margin-left: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.p-num {
    font-size: 35px;
    color: rgb(214, 162, 48);
    padding-top: 15px;
    font-weight: bolder;
}
.p-card-name{
    font-size: 25px;
    color: rgb(214, 162, 48);
    padding-right: 60px;
    padding-top: 17px;
}
.p-card-name1{
    font-size: 25px;
    color: rgb(214, 162, 48);
    /* padding-right: 40px; */
}
.p-card-name2{
    font-size: 25px;
    color: rgb(214, 162, 48);
    padding-right: 32px;
}
.p-card-name3{
    font-size: 25px;
    color: rgb(214, 162, 48);
    padding-right: 38px;
    padding-top: 17px;
}
.p-card-name4{
    font-size: 25px;
    color: rgb(214, 162, 48);
    /* padding-right: 10px; */
}