.f-body{
    padding-top: 300px;
    padding-bottom: 200px;
}

.f-head {
display: flex;
flex-direction: row;
gap: 30px;

}

.f-left {
    display: flex;
    flex-direction: column;
    padding-right: 130px;
    /* align-items: flex-start; */
}
.f-left1 {
        flex: 1;
        align-items: center;
        justify-content: left;
        display: flex;
        position: relative;
        padding-left: 120px;
        /* gap: 2rem; */
      }


.f-name {
font-size: 35px;
/* font-weight: bold; */
position: absolute;
padding-left: 70px;
}
.f-name1 {
padding-top: 50px;
padding-left: 150px;
position:relative;
align-items: center;
}
.f-name2{
    padding-left: 220px;
}
h5{
    color: red !important;
  }

  .f-name1::before{
    content: "";
    height: 3px;
    width: 90px;
    background-color: #000;
    position: absolute;
    top: 71%;
    right: -46%;

  }
  .f-name1::after{
    content: "";
    height: 3px;
    width: 75px;
    background-color: #000;
    position: absolute;
    top: 71%;
    left: 36%;
  }
  .f-name2{
    /* padding-top: 80px; */
    float: left;
  }

  .f-mid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 50px;
  }
  .f-mid-name{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 40px;
  }
  .f-mid-sub{
    font-size: 18px;
    padding-bottom: 10px;
  }

  .f-dot {
    margin-top: 150px;
    margin-left: 50px;
    height: 70px;
    width: 70px;
    background-color: rgb(245, 168, 25);
    border-radius: 50%;
    float: left;
    /* display: inline-block; */
  }
  .f-dot1 {
    margin-top: 150px;
    margin-left: 20px;
    height: 70px;
    width: 70px;
    background-color: rgb(245, 168, 25);
    border-radius: 50%;
    float: left;
    /* display: inline-block; */
  }
  .f-end{
    padding-top: 100px;
    font-size: 15px;
  }
  